<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pure CSS Table Highlight (vertical & horizontal)</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Order UID</th>
            <th>Track Number</th>
            <th>Entry</th>
            <th>Delivery</th>
            <th>Payment</th>
            <th>Items</th>
            <th>Locale</th>
            <th>Internal Signature</th>
            <th>Customer ID</th>
            <th>Delivery Service</th>
            <th>Shard Key</th>
            <th>Sm ID</th>
            <th>Oof Shard</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{.OrderUID}}</td>
            <td>{{.TrackNumber}}</td>
            <td>{{.Entry}}</td>
            <td>
              <table>
                <tr>{{.Delivery.OrderID}}</tr>
                <tr>{{.Delivery.Name}}</tr>
                <tr>{{.Delivery.Phone}}</tr>
                <tr>{{.Delivery.Zip}}</tr>
                <tr>{{.Delivery.City}}</tr>
                <tr>{{.Delivery.Address}}</tr>
                <tr>{{.Delivery.Region}}</tr>
                <tr>{{.Delivery.Email}}</tr>
              </table>
            </td>
            <td>
              <table>
                <tr>{{.Payment.OrderID}}</tr>
                <tr>{{.Payment.Transaction}}</tr>
                <tr>{{.Payment.RequestID}}</tr>
                <tr>{{.Payment.Currency}}</tr>
                <tr>{{.Payment.Provider}}</tr>
                <tr>{{.Payment.Amount}}</tr>
                <tr>{{.Payment.PaymentDT}}</tr>
                <tr>{{.Payment.Bank}}</tr>
                <tr>{{.Payment.DeliveryCost}}</tr>
                <tr>{{.Payment.GoodsTotal}}</tr>
                <tr>{{.Payment.CustomFee}}</tr>
              </table>
            </td>
            <td>
              {{range .Items}}
                {{.ID}}
                {{.OrderID}}
                {{.ChrtID}}
                {{.TrackNumber}}
                {{.Price}}
                {{.Rid}}
                {{.Name}}
                {{.Sale}}
                {{.Size}}
                {{.TotalPrice}}
                {{.NmID}}
                {{.Brand}}
                {{.Status}}
              {{end}}
            </td>
            <td>{{.Locale}}</td>
            <td>{{.InternalSignature}}</td>
            <td>{{.CustomerID}}</td>
            <td>{{.DeliveryService}}</td>
            <td>{{.ShardKey}}</td>
            <td>{{.SmID}}</td>
            <td>{{.DateCreated}}</td>
            <td>{{.OofShard}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>